

body {
    background: radial-gradient(circle at center, #6000E0, #00BEE0);
    display: block;
    justify-content: center;
    justify-items: center;
}
div {
    background: linear-gradient(to bottom, #5C28A1, #8B892E);
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}